{% extends 'email_base.html' %} {% block content %}
<div>
  <div style="margin-left: 20px; margin-right: 20px; width: 320px; border: 1px #282c34 solid; text-align: center;">
  <div style="height: 50px; width: 320px; background-color: #282c34; color: #fff; text-align: center; padding-top: 10px; padding-bottom: 10px;">
    <h3>Ivans Home Assignment
  </div>
    <h3>Hello, {{name}}</h3>
    <p>Seems you have forgotten your password</p>
    <p>Follow the link provided below to reset your password</p>
    <button
      style="
        background-color: #282c34;
        color: #fff;
        height: 40px;
        width: 150px;
        font-size: 20px;
        margin: auto;
        margin-top: 40px;
        border-radius: 10px;
        border: none;
      "
    >
      <a style="color: #ddd; font-size: 12px; text-decoration: none;" href="{{ url }}"><p>RESET PASSWORD</p></a>
    </button>
    <p>
      If you have not made a request for password reset, please ignore this
      email
    </p>
  </div>
</div>
</div>
  {% endblock %}